---
title: archive
layout: default
---

<main id="main">
  <section id="archive">
    <div id="archive-container">
      {% assign postsByYear = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
      {% for year in postsByYear %}
        {% assign postsByMonth = year.items | group_by_exp: "post", "post.date | date: '%B'" %}
        {% for month in postsByMonth %}
        <h2 class="archive-month">{{ month.name}} <span class="green-text">{{ year.name }}</span></h2>
          <ul class="posts-from-month">
          {% for post in month.items %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
         </ul>
        {% endfor %}
      {% endfor %}
    </div>
  </section>
</main>
