/*
=============
Media Queries
=============
*/

@media only screen  and (min-width : 1224px) {

	/*
	==========
	Grid Setup
	==========
	*/

	#grid-container {
		grid-template-columns: 250px auto;
		grid-template-rows: 200px 1fr 55px;
		grid-template-areas: ". header"
							 "nav main"
							 "footer footer";
		min-height: 100vh;

	}

	/*
	======
	Title
	======
	*/

	#header { text-align: left; }

	/*
	===
	Nav
	===
	*/

	#nav-text-container {
		flex-direction: column;
		font-size: .4em;
		line-height: 1.5;
		margin-left: 10em;
		position: fixed;
	}

	/*
	=====
	Main
	=====
	*/

	#main {
		display: flex;
		margin: 0 auto;
		justify-content: center;
	}

	.recent-preview-container {
		margin: 0;
		height: auto;
		display: block;
		a {
			text-decoration: none;
		}
	}

	.preview-text-container {
		display: grid;
		grid-template-columns: 220px 1fr;
		grid-template-rows: 10px 200px;
		grid-template-areas: "title title"
							 ". text";
		position: static;
		height: auto;
		width: 100%;
		background-color: transparent;
		color: black;
	}

	.preview-image {
		width: 200px;
		height: 150px;
		position: relative;
		bottom: 160px;
	}

	.article-preview-title {
		text-align: left;
		font-size: 2em;
		grid-area: title;
		width: 100%;
		background-color: white;
		a {
			color: black;
			font-weight: 300;
			border-bottom: 1px solid $primary-color;
			&:hover {
				color: $secondary-color;
			}
		}
	}

	.article-preview-text {
		color: black;
		font-size: 1em;
		grid-area: text;
		width: 300px;
		margin-top: 35px;
		align-self: start;
	}

	.read-more-link {
		align-self: flex-start;
		bottom: 150px;
	}

	.read-button {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: white;
		font-size: .95em;
		color: white !important;
		width: 6em;
		height: 2em;
		background-color: #349E7A;
		border-radius: 0;
		margin: 0;
	}

	#principle-articles-aside:first-child {
		margin-top: 0;
	}

	.principle-article {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		width: 400px;
		height: 10em;
		margin: 10em 5em 15em 5em;
	}

	.principle-title {
		align-self: center;
		font-family: Raleway, helvetica;
		font-size: 1.5em;
		color: #349E7A;
	}

	.principle-text {
		font-family: Montserrat, Raleway;
		font-size: .9em;
		color: grey;
		width: 250px;
	}

	.principle-article-link {
		align-self: center;
	}

	.principle-button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 6em;
		height: 1.2em;
		margin-top: 15px;
		font-size: .8em;
		border-radius: 2px;
	}

	/*
	======
	Footer
	======
	*/

	#email {
		font-size: 1em;
	}



	/*
	=====
	About
	=====
	*/

	#about-container {
		margin: 0;
	}

	.about-section-title {
		margin: 0;
		font-size: 3em;
	}

	.about-section-text {
		font-size: 1em;
		width: 550px;
		margin-bottom: 7em;
	}


	/*
	=======
	Archive
	=======
	*/

	#archive-container {
		margin: 0;
	}

	.archive-month {
		font-size: 2.5em;
		width: 500px;
		margin-top: 0;
		margin-bottom: .5em;
	}

	.posts-from-month {
		margin-top: 0;
		font-size: 1em;
		line-height: 3;
	}

	/*
	=======
	Contact
	=======
	*/

	#contact-container {
		align-items: flex-start;
	}

	#contact-heading {
		margin-top: 0;
		margin-bottom: 1em;
		font-size: 2em;
	}

	#contact-sub {
		margin-bottom: 2em;
		font-size: 1.3em;
	}

	#contact-form input{
		margin-top: 0;
		margin-bottom: 2em;
		font-size: 1em;
		width: 30em;
	}

	#contact-form textarea {
		margin-top: 0;
		margin-bottom: 1em;
		font-size: 1em;
	}

	#contact-form [type="submit"] {
		width: 300px;
	}



	/*
	=====
	Posts
	=====
	*/

	.post-container {
		width: 40%;
	}

	#post-title {
		margin: 0 0 1.5em 0;
		align-self: flex-start;
	}

	#post-date {
		margin-left: 0;
	}

	#post-date {
		font-size: .8em;
	}

	.post li {
		font-size: .9em;
	}

	.post p, .post h2, .post h3 {
		width: 100%;
	}

	.post p {

		font-size: 1.1em;
	}

	.post h2 {
		font-size: 2em;
	}

	.post h3 {
		font-size: 1.5em;
	}

}
