/*
=============
Media Queries
=============
*/

@media only screen  and (min-width : 1224px) {

	/*
	==========
	Grid Setup
	==========
	*/

	#grid-container {
		grid-template-columns: 3fr 2.5fr;
		grid-template-rows: 55px 1fr 55px;
		grid-template-areas: "header nav"
							 "main main"
							 "footer footer";
		min-height: 100vh;

	}

	/*
	======
	Title
	======
	*/

	#header {
		font-size: .3em;
		z-index: 2;
		display: flex;
		align-items: center;
	}

	#title {
		margin-left: 5em;
	}

	#header, #nav {
		border-bottom: 1px solid #bbb;
		//box-shadow: 0px 1px 1px #eee;
		position: sticky;
		top: 0;
		background-color: rgba(255,255,255,1);
	}

	/*
	===
	Nav
	===
	*/

	#nav {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		//rgba(52,158,122,0.8);
		//rgba(200, 200, 200, 0.7);
		z-index: 1;
	}

	#nav-text-container {
		margin-top: 0;
		font-size: .3em;
		justify-content: flex-start;
		align-items: center;
	}

	.nav-text {
		margin-left: 2em;
		a {
			color: black;
		}
	}

	/*
	=====
	Main
	=====
	*/

	#main {
		width: 90%;
		display: flex;
		margin: 5em auto 0 auto;
		justify-content: space-around;
	}

	.recent-preview-container {
		margin: 0;
		height: auto;
		display: block;
		a {
			text-decoration: none;
		}
	}

	.preview-text-container {
		display: grid;
		grid-template-columns: 220px 1fr;
		grid-template-rows: 10px 200px;
		grid-template-areas: "title title"
							 ". text";
		position: static;
		height: auto;
		width: 100%;
		background-color: transparent;
		color: black;
	}

	.preview-image {
		width: 200px;
		height: 150px;
		position: relative;
		bottom: 160px;
	}

	.article-preview-title {
		text-align: left;
		font-size: 2em;
		grid-area: title;
		width: 100%;
		background-color: white;
		a {
			border-bottom: 1px solid $primary-color;
			&:hover {
				color: $secondary-color;
			}
		}
	}

	.article-preview-text {
		color: black;
		font-size: 1em;
		grid-area: text;
		width: 300px;
		margin-top: 35px;
		align-self: start;
	}

	.read-more-link {
		align-self: flex-start;
		bottom: 150px;
	}

	.read-button {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: white;
		font-size: .95em;
		color: white !important;
		width: 6em;
		height: 2em;
		background-color: #349E7A;
		border-radius: 0;
		margin: 0;
	}

	#principle-preview {
		align-self: flex-end;
		width: 300px;
	}

	#principle-articles-aside:first-child {
		margin-top: 0;
	}

	.principle-article {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		//width: 400px;
		height: 10em;
		margin: 2em auto 13em auto;
	}

	.principle-title {
		align-self: center;
		font-family: Raleway, helvetica;
		font-size: 1.5em;
		color: #349E7A;
	}

	.principle-text {
		font-family: Montserrat, Raleway;
		font-size: .9em;
		color: grey;
		width: 250px;
	}

	.principle-article-link {
		align-self: center;
	}

	.principle-button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 6em;
		height: 1.2em;
		margin-top: 15px;
		font-size: .8em;
		border-radius: 2px;
	}

	/*
	======
	Footer
	======
	*/

	#email {
		font-size: 1em;
	}



	/*
	=====
	About
	=====
	*/

	#about-container {
		margin: 0;
	}

	.about-section-title {
		margin: 0;
		font-size: 2em;
	}

	.about-section-text {
		font-size: 1em;
		width: 550px;
		margin-bottom: 7em;
	}


	/*
	=======
	Archive
	=======
	*/

	#archive-container {
		margin: 0;
	}

	.archive-month {
		font-size: 2em;
		width: 500px;
		margin-top: 0;
		margin-bottom: .5em;
	}

	.posts-from-month {
		margin-top: 0;
		font-size: 1em;
		line-height: 3;
		a {
			border-bottom: 1px solid $primary-color;
		}
	}

	/*
	=======
	Contact
	=======
	*/

	#contact-container {
		align-items: flex-start;
	}

	#contact-heading {
		margin-top: 0;
		margin-bottom: 1em;
		font-size: 2em;
	}

	#contact-sub {
		margin-bottom: 2em;
		font-size: 1.3em;
	}

	#contact-form input{
		margin-top: 0;
		margin-bottom: 2em;
		font-size: 1em;
		width: 25em;
	}

	#contact-form textarea {
		margin-top: 0;
		margin-bottom: 1em;
		font-size: 1em;
	}

	#contact-form [type="submit"] {
		width: 300px;
	}



	/*
	=====
	Posts
	=====
	*/

	.post-container {
		width: 70%;
	}

	#post-banner {
		height: 100px;
	}

	#post-title {
		font-size: 5em;
		margin: .5em 0;
		align-self: flex-start;
	}

	#post-date {
		margin-left: 0;
	}

	#post-date {
		font-size: .8em;
	}

	.post {
		li {
			font-size: .9em;
		}
		p {
			font-size: 1.1em;
		}
		h2 {
			font-size: 2em;
		}
		h3 {
			font-size: 1.5em;
		}
	}

	.post p, .post h2, .post h3 {
		width: 100%;
	}

}
