/*
=======================================================================================
Utility classes
---------------------------------------------------------------------------------------
Utility's are usually classes that change text, or an effect that can be reused easily.
=======================================================================================
*/

.green-text, .orange-text {
	font-family: $cursive-font;
}

.green-text {
	color: #349E7A;
}

.orange-text {
	color: #F27272;
}
